<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>HTTP Methods</title>
    </head>
    <body>
        <h1>Welcome to the Product Store!</h1>
        <h2>View products</h2>

        <table>
            <tr>
                <th>Product Name</th>
                <th>Product Price</th>
            </tr>
            <tr th:each="product: ${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
            </tr>
        </table>

        <h2>Add new products</h2>
        <form action="/products" method="post">
            Name: <input
                        type="text"
                        name="name"> <br/>
            Price: <input
                        type="number"
                        step="any"
                        name="price"> <br/>
            <button type="submit">Add product</button>
        </form>
    </body>
</html>